# ==== Slide Switches (SW) ====
# Inputs are defined using vector notation
NET "A<0>" LOC = "G18"; # Type = INPUT, Sch name = SW0
NET "A<1>" LOC = "H18"; # Type = INPUT, Sch name = SW1
NET "A<2>" LOC = "K18"; # Type = INPUT, Sch name = SW2
NET "A<3>" LOC = "K17";
NET "A<4>" LOC = "L14";
NET "A<5>" LOC = "L13";
NET "A<6>" LOC = "N17";
NET "A<7>" LOC = "R17";


# LED outputs constraints
# Outputs are defined using vector notation
NET "U<0>"  LOC = "J14"; # Sch name = LD0
NET "U<1>"  LOC = "J15"; # Sch name = LD1
NET "U<2>"  LOC = "K15"; # Sch name = LD2
NET "U<3>"  LOC = "K14";
NET "U<4>"  LOC = "E17";
NET "U<5>"  LOC = "P15";
NET "U<6>"  LOC = "F4";
NET "U<7>"  LOC = "R4";


